/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Patua+One|Volkhov');

.jumbotron.jumbotron-fluid {
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
  background-image: image-url('food-1.jpg');
  background-size: cover;
  height: 400px;
  color: #fff;
  padding-top: 120px;
}

#logo {
  padding: 18px;
  float: left;
  font-size: 1.9em;
  color: #ffff00;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff;
  text-decoration: none;
}

.navbar.navbar-expand-lg {
  background-color: #9EE102;
  border-bottom: solid 1px black;
}

.display-4 {
  font-size: 60px;
  font-family: 'Patua One', cursive;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.lead {
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.btn.signin {
  text-decoration: none;
  font-size: 20px;
  border: solid 1px black;
  background-color: #9EE102;
  color: black;
}

.btn.signin:hover {
  color: #fff;
}

.card-footer {
  background-color: black;
}

footer {
  color: #fff;
  text-align: center;
}

.col-md-8 {
  border: solid 1px black;
  border-radius: 3px;
  margin: 10px;
}

.card-footer {
  margin-top: 50px;
}

h4.description {
  text-align: center;
}

.col-md-6.offset-3 {
  border: solid 1px gray;
  border-radius: 3px;
}

a.tag {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-decoration: none;
  color: black;
}

a.tag:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: red;
}

.btn.btn-primary.btn-lg.create {
  background-color: #9EE102;
  border: solid 1px black;
  color: black;
}

.btn.btn-primary.btn-lg.create:hover {
  color: #fff;
}

.text-right.chef {
  margin-bottom: -40px;
}

.recipe-action {
  margin-bottom: 20px;
  a {
    color: #fff;
  }
}

.img-circle {
  margin-top: 80px;
  margin-left: 40px;
  padding-bottom: 10px;
}

a.link-font {
  font-family: 'Volkhov', serif;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-transform: capitalize;
  text-shadow: 3px 2px red;
  margin-left: 60px;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

a.link-font:hover {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);;
  color: #9EE102;
}

.col-md-8.well {
  text-align: center;
  color: #fff;
  background-image: image-url('food-9.jpg');
  background-size: cover;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.0em 1.25em;
  margin: 20px;
}

p.descrip {
  margin-left: 70px;
  font-size: 20px;
}

span.quiet {
  margin-left: 70px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.col-md-6.offset-3 {
  width: 700px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.0em 1.25em;
}

.text {
  margin-top: 50px;
  margin-bottom: -70px;
}

.center {
  font-size: 20px;
  margin-top: -30px;
}

.text-right {
  font-size: 15px;
}

.btn.btn-success.btn-sm {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn.btn-success.btn-sm:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.btn.btn-danger.btn-sm {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn.btn-danger.btn-sm:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#recipe_name.form-control {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.0em 1.25em;
}

#recipe_description.form-control {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.0em 1.25em;
}

.btn.btn-primary.btn-sm {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn.btn-primary.btn-sm:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.col-md-10.offset-5 {
  margin-left: 437px;
  margin-top: -60px;
}

.listing {
  list-style: none;
  padding-left: 0;

}

.chef-img {
  margin-top: -30px;
  margin-bottom: 30px;
  margin-right: 35px;
}

.chef-title {
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

a.title {
  color: black;
  text-decoration: none;
}

.pagination {
  margin-left: 210px;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

.btn.btn-danger.btn-sm:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.link.c {
  color: #006600;
  display: inline-block;
  padding: 5px;
  margin-top: 3px;
  text-decoration: none;
}

.link.c:hover {
  color: yellow;
}

.link.r {
  color: #006600;
  text-decoration: none;
  padding: 10px;
}

.link.r:hover {
  color: yellow;
}

#navbarDropdown.nav-link.dropdown-toggle {
  color: #006600;
}
#navbarDropdown.nav-link.dropdown-toggle:hover {
  color: yellow;
}

a.pf-view {
  text-decoration: none;
  color: red;
}

a.pf-view:hover {
  color: white;
}

a.pf-edit {
  text-decoration: none;
  color: red;
}

a.pf-edit:hover {
  color: white;
}

div.dropdown-menu.text-center {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  background-color: #9EE102;
}

a.pf-logout {
  text-decoration: none;
  color: red;
}

a.pf-logout:hover {
  color: white;
}

a.new-recipe {
  text-decoration: none;
  color: red;
}

a.new-recipe:hover {
  color: white;
}

a.nav-login {
  text-decoration: none;
  color: #006600;
}

a.nav-login:hover {
  color: yellow;
}

input.form-control.mr-sm-2 {
  margin-right: auto;
}
  
a.ingredient {
  color: red;
  text-decoration: none;
}

a.ingredient:hover {
  color: white;
}

a.each-ing {
  color: red;
  text-decoration: none;
}

a.each-ing:hover {
  color: white;
}

a.new-ing {
  color: red;
  text-decoration: none;
}

a.new-ing:hover {
  color: white;
}

.badge.badge-pill {
  margin: 2px;
  background-color: #9EE102;
  border: 1px solid black;
}

a.ing-pill {
  text-decoration: none;
  color: white;
}

a.ing-pill:hover {
  color: red;
}

span.quiet {
 margin-left: -8px;
}

.checkbox-inline.input_checkbox {
  padding: 7px;
  margin-left: 5px;
}

input#recipe_ingredient_ids.checkbox {
  margin-right: 5px;

}















